<%- include('../partials/header') %> 

<form id="edit-form"></form>
<form action="/songs/<%= song._id %>/update?_method=PUT" method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="<%= song.name %>">
    <label>Artist:</label>
    <input type="text" name="artist" value="<%= song.artist %>">
    <label>Future Performance?</label>
    <input type="checkbox" name="futurePerformance" checked value="<%= song.futurePerformance %>">
    <input type="submit" value="Update Song">
</form>

<%- include('../partials/footer') %>